@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins&family=Ubuntu&display=swap");
html {
  scroll-behavior: smooth;
}

#loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: white;
}

header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 5;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.name {
  font-family: "Audiowide", cursive;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.name .fname {
  color: #207398;
}

.name .lname {
  color: #e11d1d;
}

.header-scroll {
  background-color: #e5d68a;
}

.header-scroll nav a {
  color: #207398;
}

.header-scroll .name .fname {
  color: #db0b5f;
}

.header-scroll .name .lname {
  color: #6f00ed;
}

nav {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav a {
  margin: 5px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

nav a:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

#self-logo {
  width: 60px;
  height: 60px;
}

#hero {
  border-radius: 5%;
  overflow: hidden;
  -webkit-box-shadow: 2px 0px 4px 3px rgba(32, 114, 152, 0.6);
          box-shadow: 2px 0px 4px 3px rgba(32, 114, 152, 0.6);
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#hero:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

#typed {
  color: #207398;
  font-family: "Ubuntu", sans-serif;
}

#education {
  padding-top: 6rem;
  padding-bottom: 0.5rem;
}

#content {
  margin-bottom: 4rem;
}

#blog {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#blog {
  padding-top: 2rem;
}

#about {
  padding-top: 9rem;
}

#about h1 span:first-child {
  color: #e11d1d;
}

.fab {
  font-family: "Font Awesome 5 Brands";
  font-size: 23px;
}

.card {
  height: 520px;
  margin: 20px 22px;
  -webkit-box-shadow: 0px 0px 8px 5px rgba(225, 29, 29, 0.5);
          box-shadow: 0px 0px 8px 5px rgba(225, 29, 29, 0.5);
  border-radius: 10px;
  overflow: hidden;
}

.card .image {
  overflow: hidden;
  position: relative;
}

.card .image img {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.card .image i {
  color: whitesmoke;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform: translate(500px);
          transform: translate(500px);
  font-size: 2em;
}

.card .image::after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
  background-color: rgba(229, 62, 62, 0.46);
  -webkit-transform: translate(-130%);
          transform: translate(-130%);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.card .image:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.card .image:hover i {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.card .image:hover::after {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.card .body {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.card .body .title {
  font-weight: bolder;
  font-size: large;
  margin: 5px;
  padding: 9px;
}

.card .body .description {
  padding: 20px;
  margin: 7px;
  font-weight: 500;
}

#footer-section #creator {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: large;
  padding-bottom: 15px;
}

#footer-section .social-buttons {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#footer-section .social-buttons:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: black;
}
/*# sourceMappingURL=style.css.map */