@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins&family=Ubuntu&display=swap");

// font-family: 'Audiowide', cursive;

// font-family: 'Poppins', sans-serif;

// font-family: 'Ubuntu', sans-serif;

//blue  #207398
//red #e11d1d

html {
  scroll-behavior: smooth;
}
#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: white;
}
header {
  // border: 2px solid black;
  position: sticky;
  // width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  transition: all 0.5s linear;
  .name {
    font-family: "Audiowide", cursive;
    font-weight: 600;
    display: flex;
    .fname {
      color: #207398;
    }
    .lname {
      color: rgb(225, 29, 29);
    }
  }
}
.header-scroll {
  // background-color: #95c2e3;
  background-color: #f9db89;
  nav a {
    color: #207398;
  }
  .name {
    .fname {
      color: #db0b5f;
    }
    .lname {
      color: #6f00ed;
    }
  }
}

nav {
  justify-content: space-evenly;
  a {
    margin: 5px;
    transition: all 0.1s linear;
    &:hover {
      transform: scale(1.06);
    }
  }
}

#self-logo {
  width: 60px;
  height: 60px;
}

#hero {
  border-radius: 5%;
  overflow: hidden;
  // box-shadow: 20px 20px 16px 0px rgba(32, 114, 152, 0.73);
  // box-shadow: 14px 14px 12px -2px rgba(32, 114, 152, 0.7);
  box-shadow: 4px 0px 5px 6px rgba(32, 114, 152, 0.6);
}

#typed {
  color: #207398;
  font-family: "Ubuntu", sans-serif;
}

#education {
  padding-top: 6rem;
  padding-bottom: 0.5rem;
}

#content {
  margin-bottom: 4rem;
}

#blog {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#blog {
  padding-top: 2rem;
}

#about {
  padding-top: 9rem;
  h1 span:first-child {
    color: rgb(225, 29, 29);
  }
}

.fab {
  font-family: "Font Awesome 5 Brands";
  font-size: 23px;
}
.projects {
  // border: 2px solid black;
}
.card {
  // border: 2px solid black;
  height: 520px;
  margin: 20px 22px;
  box-shadow: 0px 0px 8px 5px rgba(225, 29, 29, 0.5);
  border-radius: 10px;
  overflow: hidden;
  .image {
    // border: 5px solid red;

    overflow: hidden;
    position: relative;
    img {
      transition: all 0.5s linear;
      // height: 230px;
    }
    i {
      color: whitesmoke;
      z-index: 3;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -15px;
      margin-top: -15px;
      transition: all 0.5s linear;
      transform: translate(500px);
      font-size: 2em;
    }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      z-index: 1;
      background-color: rgba(229, 62, 62, 0.46);
      transform: translate(-130%);
      transition: all 0.5s linear;
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
      i {
        transform: translate(0);
      }
      &::after {
        transform: translate(0);
      }
    }
  }

  .body {
    // background-color: aquamarine;
    text-align: center;
    font-family: "Poppins", sans-serif;
    .title {
      font-weight: bolder;
      font-size: large;
      margin: 5px;
      padding: 9px;
      // border: 2px solid black;
    }
    .description {
      // border: 2px solid black;
      padding: 20px;
      margin: 7px;
      font-weight: 500;
    }
  }
}

#footer-section {
  #creator {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: large;
    padding-bottom: 15px;
  }
}
